.editor-preview-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  border-radius: inherit;
}

.blocks-editor-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: inherit;
}

.blocks-editor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
}

.code-preview {
  display: flex;
  border-left: 1px solid var(--ui-black-transparent);
}

.code-preview > div {
  width: 480px;
}

.toolbox-wrapper {
  position: absolute;
  top: -44px;
}

.extension-button {
  height: 3.25rem;
  position: absolute;
  bottom: -1;
  left: -1;
  z-index: var(--z-index-extension-button);
  background: var(--theme-primary);
  border: 1px solid var(--theme-primary);
  border-top: 0;
  box-sizing: content-box;
  border-bottom-left-radius: inherit;
}

.extension-button:before {
  --fade-out-distance: 15px;

  content: '';
  position: absolute;
  top: calc(calc(-1 * var(--fade-out-distance)));
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  height: var(--fade-out-distance);
}

.add-button {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.add-button img {
  width: 1.75rem;
  height: 1.75rem;
}

/* styles for scratch-blocks */

.blocks-editor :global(.injectionDiv) {
  border-radius: inherit;
}

.blocks-editor :global(.blocklyMainBackground) {
  stroke-width: 0 !important;
}

.blocks-editor :global(.blocklyFlyout) {
  border-left: 1px solid var(--ui-black-transparent) !important;
  border-right: 1px solid var(--ui-black-transparent) !important;
  backdrop-filter: blur(3px);
}

.blocks-editor :global(.blocklyFlyout .blocklyFlyoutBackground) {
  clip-path: url(#blocklyBlockMenuClipPath);
}

.blocks-editor :global(.blocklyFlyout .blocklyWorkspace) {
  clip-path: none;
}

.blocks-editor :global(.blocklyFlyout:hover) {
  overflow: unset;
}

.blocks-editor :global(.blocklyToolboxDiv) {
  padding-bottom: 100px;
}
