.add-custom-button {
  background: none;
  border-style: dashed;
}

.add-custom-image {
  margin: auto;
  padding: 4rem 0;
}

.more-link {
  margin-bottom: calc(var(--space) * 2);
  color: var(--text-transparent);
}

.more-link a {
  text-decoration-line: none;
  color: var(--theme-primary);
  margin-left: 4px;
}
